<H2>GESTIONE ACCESSI E PRESENZE by Europa Computer</H2> versione 0.99
<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Help</button>
        <clr-tab-content id="content1" *clrIfActive="true">
            <ul class="list">
                <li>
                    <h4>Configurazione antenne</h4>
                    <span class="p3">Le antenne ASE devono essere configurate in answer mode per funzionare.</span>
                </li>
                <li>
                    <h4>Importazione anagrafiche</h4>
                </li>
                <ul class="list">
                    <li>Le anagrafiche possono essere inserite direttamente dall'interfaccia web.
                    </li>
                    <li>Se si vogliono importare da un file csv copiare il file nella cartella import presente nella cartella
                        di installazione.
                        <br/> Il file verrà letto e modificherà/importerà i dati presenti nel file.
                        <br/> Il file dovrà contenere le intestazioni di colonna e deve essere nel seguente formato:
                        <br/> ;CODICE;DENOMINAZIONE
                    </li>
                </ul>
                <li>
                    <h5>Esportazione audit</h5>
                    <ul class="list">
                        <li>L'audit può essere visualizzato e filtrato direttamente dall'interfaccia web</li>
                        <li>Il carattere jolly (%) corrisponde ad un numero qualsiasi di caratteri. È possibile usare (%) in
                            qualsiasi posizione in una stringa di caratteri.</li>
                        <li>La colonna data può essere filtrata con i segno (&lt;) o (&gt;)</li>
                        <li>E' possibile esportare i dati di audit tramite chiamata web api al seguente indirizzo
                            <br/>
                            <i>Formato json</i>: http://indirizzoServer:9000/audit/ricerche/
                            <br/>
                            <i>Formato cvs</i>: http://indirizzoServer:9000/audit/ricerche/cvs
                            <br/>Deve essere effettuata una chiamata post ed il body deve contenere un oggetto json come da esempio:
                        </li>
                        <code>
                            <pre>{{example}}</pre>
                        </code>
                    </ul>
                </li>
            </ul>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>EndPoint Rest</button>
        <clr-tab-content *clrIfActive>
            <h6>ANAGRAFICHE</h6>
            <ul class="list">
                <li>
                    <span class="label label-orange">GET</span>
                    <span>
                        <b>/anagrafiche</b> lista di tutte le anagrafiche</span>
                </li>
                <li>
                    <span class="label label-green">POST</span>
                    <span>
                        <b>/anagrafiche</b> aggiorna/inserisce nuova anagrafica</span>
                </li>
                <li>
                    <span class="label label-green">PUT</span>
                    <span>
                        <b>/anagrafiche</b> ricarica le anagrafiche nel sistema</span>
                </li>
                <li>
                    <span class="label label-green">DELETE</span>
                    <span>
                        <b>/anagrafiche/[codice]</b> cancella l'anagrafica</span>
                </li>
            </ul>
            <h6>PERMESSI</h6>
            <ul class="list">
                <li>
                    <span class="label label-orange">GET</span>
                    <span>
                        <b>/permessi</b> lista di tutti i permessi</span>
                </li>
                <li>
                    <span class="label label-green">POST</span>
                    <span>
                        <b>/permessi</b> aggiorna/inserisce un permesso</span>
                </li>
                <li>
                    <span class="label label-green">PUT</span>
                    <span>
                        <b>/permessi</b> ricarica i permessi nel sistema</span>
                </li>
                <li>
                    <span class="label label-green">DELETE</span>
                    <span>
                        <b>/permessi/[codice]</b> cancella il permesso</span>
                </li>
            </ul>
            <h6>AREA</h6>
            <ul class="list">
                <li>
                    <span class="label label-orange">GET</span>
                    <span>
                        <b>/area</b> Stato delle aree</span>
                </li>
                <li>
                    <span class="label label-orange">GET</span>
                    <span>
                        <b>/area/[nome area]/presenze lista</b> delle presenze nell'area</span>
                </li>
                <li>
                    <span class="label label-orange">GET</span>
                    <span>
                        <b>/area/[area]/presenze lista delle presenze nell area</b>
                    </span>
                </li>
            </ul>
            <h6>GATES</h6>
            <ul class="list">
                <li>
                    <span class="label label-orange">GET</span>
                    <span>
                        <b>/gate[codice gate]/stato</b> apertura del varco</span>
                </li>
            </ul>
            <h6>IMPIANTO</h6>
            <ul class="list">
                <li>
                    <span class="label label-orange">GET</span>
                    <span>
                        <b>/impianto</b> stato delle antenne e varchi dell'impianto</span>
                </li>
            </ul>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
