<clr-main-container>
    <clr-header>
        <div class="branding">
            <a href="#" class="nav-link">
                <span class="clr-icon clr-clarity-logo"></span>
                <span class="title">Gestione Accessi</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active">
                <span class="nav-text">Presenze</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/audit']" routerLinkActive="active">
                <span class="nav-text">Audit</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/anagrafiche']" routerLinkActive="active">
                <span class="nav-text">Anagrafiche</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/permessi']" routerLinkActive="active">
                <span class="nav-text">Permessi</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/mappa']" routerLinkActive="active">
                <span class="nav-text">Impianto</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/configurazione']" routerLinkActive="active">
                <span class="nav-text">Configurazione</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active">
                <span class="nav-text">About</span>
            </a>
        </div>
    </clr-header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>
