<form #settingsForm="ngForm" (ngSubmit)="salva()" class="compact" *ngIf="configurazione">
    <section class="form-block">
        <label>Parametri</label>
        <div class="form-group" row>
            <label for="minutiWarning">Minuti per warning</label>
            <input type="text" id="minutiWarning" placeholder="Minuti" name="minutiWarning" [(ngModel)]="configurazione.MinutiWarning"
                #firstNameInput="ngModel">
        </div>
        <label>Antenna configurazione</label>
        <div class="form-group">
            <label for="antennaconfigurazione">IP antenna configurazione</label>
            <input type="text" id="antennaconfigurazione" placeholder="ip antenna configurazione" name="antennaconfigurazione" [(ngModel)]="configurazione.AntennaConfigurazione"
                #antennaconfigurazioneInput="ngModel">
        </div>
        <label>Parametri Mail</label>
        <div class="form-group">
            <label for="orarioMailWarning">Orario mail warning</label>
            <input type="text" id="orarioMailWarning" placeholder="Formato hh:mm" name="orarioMailWarning" [(ngModel)]="configurazione.OrarioMail"
                #orarioMailWarningInput="ngModel">
        </div>
        <div class="form-group">
            <label for="destinatariMailWarning">Mail destinatari</label>
            <input type="text" id="destinatariMailWarning" placeholder="email separate da ," name="destinatariMailWarning" [(ngModel)]="configurazione.MailAddress"
                #destinatariMailWarningInput="ngModel" size="45">
        </div>
        <div class="form-group">
            <label for="serverMailWarning">Mail server</label>
            <input type="text" id="serverMailWarning" placeholder="smtp server" name="serverMailWarning" [(ngModel)]="configurazione.ServerMail"
                #serverMailWarningInput="ngModel" size="45">
        </div>
        <div class="form-group">
            <label for="portMailWarning">Port server</label>
            <input type="text" id="portMailWarning" placeholder="port server" name="portMailWarning" [(ngModel)]="configurazione.PortMail"
                #serverMailWarningInput="ngModel">
        </div>
        <div class="form-group">
            <label for="userMailWarning">Mail user</label>
            <input type="text" id="userMailWarning" placeholder="user smtp" name="userMailWarning" [(ngModel)]="configurazione.UserMail"
                #userMailWarningInput="ngModel" size="45">
        </div>
        <div class="form-group">
            <label for="passwordMailWarning">Mail password</label>
            <input type="password" id="passwordMailWarning" placeholder="password" name="passwordMailWarning" [(ngModel)]="configurazione.PasswordMail"
                #passwordMailWarningInput="ngModel">
        </div>
        <div class="form-group">
            <label for="fromMailWarning">Da</label>
            <input type="text" id="fromMailWarning" placeholder="indirizzo spedizione" name="fromMailWarning" [(ngModel)]="configurazione.From"
                #passwordMailWarningInput="ngModel" size="45">
        </div>
    </section>
</form>
<div class="btn-group btn-primary btn-sm" style="text-align: right">
    <button class="btn" (click)="salva()">Salva</button>
    <button class="btn btn-success-outline" [clrLoading]="submitTestMail" (click)="testMail()">Test Mail</button>
</div>

<clr-modal [(clrModalOpen)]="showTestResult">
    <h3 class="modal-title">Risultato Test</h3>
    <div class="modal-body">
        <p>{{testResult}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="showTestResult=false">Ok</button>
    </div>
</clr-modal>
