<clr-modal [(clrModalOpen)]="forzaEntrataDialog">
    <h3 class="modal-title">Inserimento entrata</h3>
    <div class="modal-body">
        <form>
            <section class="form-block">
                <div class="form-group">
                    <label for="txtNome">Nome</label>
                    <p-autoComplete [(ngModel)]="nomeIngresso" [suggestions]="anagraficheResult" (completeMethod)="ricercaAnagrafica($event)"
                        id="txtNome" name="txtNome" #txtNome [size]="45" placeholder="codice anagrafica" [minLength]="1" [ngModelOptions]="{standalone: true}"></p-autoComplete>
                </div>
                <div class=" form-group ">
                    <label for="txtData ">Data</label>
                    <p-inputMask mask="99/99/9999 99:99" [(ngModel)]="dataIngresso" placeholder="gg/mm/aaaa hh:mm" [ngModelOptions]="{standalone: true}"></p-inputMask>
                </div>
                <div class=" form-group">
                    <label for="txtNota ">Nota</label>
                    <input type="text " id="txtNota " placeholder="Nota per l 'entrata" size="45" [(ngModel)]="notaIngresso" [ngModelOptions]="{standalone: true}">
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="forzaEntrataDialog = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confermaEntrata()">Ok</button>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="confermaUscitaDialog">
    <h3 class="modal-title">Conferma la forzatura</h3>
    <div class="modal-body">
        <form>
            <section class="form-block">
                <div class="form-group">
                    <label for="txtMotivo">Nota</label>
                    <input type="text" id="txtMotivo" placeholder="Motivo della forzatura" size="45" [(ngModel)]="notaForzatura" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label>Varco da aprire</label>
                    <div class="radio" *ngFor="let g of gates">
                        <input type="radio" name="gate" id="chk{{g.Codice}}" (click)="gateSelezionato = g" [checked]="g==gateSelezionato">
                        <label for="chk{{g.Codice}}">{{g.Codice}} - {{g.Nome}}</label>
                    </div>
                </div>
            </section>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="confermaUscitaDialog = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="confermaUscita()">Ok</button>
        </div>
    </div>
</clr-modal>
<div class="row">
    <!--<div style="float:left"><button class="btn btn-primary" (click)="carica()">Ricarica</button></div>-->
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <app-impianto></app-impianto>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <button type="button" class="btn btn-icon btn-primary" (click)="stampaStato()">
            <clr-icon shape="printer" class="is-solid"></clr-icon>
        </button>
    </div>

</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngFor="let area of aree">
        <table class="table">
            <thead>
                <tr background-color="red">
                    <th class="left" [ngClass]="{'principale ':area.NomeAreaPrincipale==null}"> {{area.Nome}}
                        <clr-icon shape="login" class="iconbutton" (click)="forzaIngresso(area)"></clr-icon>
                        <span class="badge badge-light-blue numpresenze">{{area.Presenze.length}}</span>
                    </th>
                    <th class="left" [ngClass]="{'principale ':area.NomeAreaPrincipale==null}">Data/Ora</th>
                    <th class="left" [ngClass]="{'principale ':area.NomeAreaPrincipale==null}">Permanenza (min.)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="area.Presenze.length===0">
                    <td align="center" colspan="3">AREA VUOTA</td>
                </tr>
                <tr *ngFor="let presenza of area.Presenze">
                    <td class="left">
                        <clr-icon shape="logout" class="iconbutton" (click)="forzaMovimento(presenza)"></clr-icon>
                        <span>{{presenza.Descrizione}}</span>
                    </td>
                    <td class="left">{{presenza.DataAzione | date : 'd/M/yy, H:mm '}}</td>
                    <td class="right">{{presenza.Durata}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
