<form #areaForm="ngForm" (ngSubmit)="salva()">
    <section class="form-block">
        <div class="form-group">
            <label for="Nome">Nome</label>
            <label for="Nome" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="NomeInput.invalid && (NomeInput.dirty || NomeInput.touched)">
                <input type="text" id="Nome" placeholder="Nome" required name="Nome" [(ngModel)]="model.Nome" #NomeInput="ngModel">
            </label>
        </div>
        <div class="form-group">
            <label for="Abilitata">Abilitata</label>
            <label for="Abilitata" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="AbilitataInput.invalid && (AbilitataInput.dirty || AbilitataInput.touched)">
                <clr-checkbox name="Abilitata" id="Abilitata" [(ngModel)]="model.Abilitata" #AbilitataInput="ngModel">
                </clr-checkbox>
            </label>
        </div>
        <div class="form-group">
            <label for="Tipo">Tipo</label>
            <div class="select">
                <select id="Tipo" name="tipo" [(ngModel)]="model.TipoCodice" required>
                    <option value="I">Ingresso</option>
                    <option value="U">Uscita</option>
                    <option value="P">Prossimità</option>
                    <option value="R">Rilevatore</option>
                    <option value="IU">Ingr./Uscita</option>
                </select>
            </div>
            <!-- <label for="Tipo" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="TipoInput.invalid && (TipoInput.dirty || TipoInput.touched)">
                <input type="text" id="Tipo" placeholder="Tipo" required name="Tipo" [(ngModel)]="model.TipoCodice" #TipoInput="ngModel">
            </label>-->
        </div>
        <div class="form-group">
            <label for="Ip">Ip</label>
            <label for="Ip" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="IpInput.invalid && (IpInput.dirty || IpInput.touched)">
                <input type="text" id="Ip" placeholder="Ip" required name="Ip" [(ngModel)]="model.Ip" #IpInput="ngModel">
            </label>
        </div>
        <div class="form-group">
            <label for="codiceGate">Varco</label>
            <div class="select">
                <select id="codiceGate" name="codiceGate" [(ngModel)]="model.CodiceGate" #codiceGate="ngModel">
                    <option value="">Nessuno</option>
                    <option *ngFor="let gate of gates;let i = index" [value]="gate.Codice">{{gate.Codice}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="areaPrincipale">Area</label>
            <div class="select">
                <select id="areaPrincipale" name="areaPrincipale" [(ngModel)]="model.AreaCodice" #areaPrincipale="ngModel">
                    <option *ngFor="let area of aree;let i = index" [value]="area.Nome">{{area.Nome}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="rilevatoreIngresso">Rilevatore ingresso</label>
            <input type="text" id="rilevatoreIngresso" placeholder="Dati Rilevatore ingresso" name="rilevatoreIngresso" [(ngModel)]="model.ConfigurazioneRilevatoreIngresso"
                #rilevatoreIngresso="ngModel">
        </div>
        <div class="form-group">
            <label for="rilevatoreUscita">Rilevatore uscita</label>
            <input type="text" id="rilevatoreUscita" placeholder="Dati Rilevatore uscita" name="rilevatoreUscita" [(ngModel)]="model.ConfigurazioneRilevatoreUscita"
                #rilevatoreUscita="ngModel">
        </div>
        <div class="form-group">
            <label for="ProlungaPresenza">ProlungaPresenza</label>
            <label for="ProlungaPresenza" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="ProlungaPresenzaInput.invalid && (ProlungaPresenzaInput.dirty || ProlungaPresenzaInput.touched)">
                <input type="text" id="ProlungaPresenza" placeholder="ProlungaPresenza" required name="ProlungaPresenza" [(ngModel)]="model.ProlungaPresenza"
                    #ProlungaPresenzaInput="ngModel">
            </label>
        </div>
        <div class="form-group">
            <label for="Pedonale">Pedonale</label>
            <label for="Pedonale" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="PedonaleInput.invalid && (PedonaleInput.dirty || PedonaleInput.touched)">
                <clr-checkbox name="Pedonale" id="Pedonale" [(ngModel)]="model.Pedonale" #PedonaleInput="ngModel">
                </clr-checkbox>
            </label>
        </div>
        <div class="form-group">
            <label for="X">X</label>
            <label for="X" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="XInput.invalid && (XInput.dirty || XInput.touched)">
                <input type="text" id="X" placeholder="X" required name="X" [(ngModel)]="model.X" #XInput="ngModel">
            </label>
        </div>
        <div class="form-group">
            <label for="Y">Y</label>
            <label for="Y" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="YInput.invalid && (YInput.dirty || YInput.touched)">
                <input type="text" id="Y" placeholder="Y" required name="Y" [(ngModel)]="model.Y" #YInput="ngModel">
            </label>
        </div>
    </section>
    <button class="btn" type="submit" [disabled]="!areaForm.valid">Salva</button>
</form>
