<button class="btn" (click)="riavvia()">Riavvia Impianto</button>
<app-setting></app-setting>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <app-area></app-area>
    </div>
    <div class="col-xs-12 col-md-8">
        <app-gates></app-gates>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <app-antenne></app-antenne>
    </div>
</div>
