<h4>ANTENNE</h4>
<div class="btn-group btn-primary btn-sm">
    <button class="btn" (click)="caricaAntenne()">Ricarica</button>
</div>
<clr-datagrid class="datagrid-compact">
    <clr-dg-column>Numero</clr-dg-column>
    <clr-dg-column>Nome</clr-dg-column>
    <clr-dg-column>Abilitata</clr-dg-column>
    <clr-dg-column>Tipo</clr-dg-column>
    <clr-dg-column>Ip</clr-dg-column>
    <clr-dg-column>Area</clr-dg-column>
    <clr-dg-column>Varco</clr-dg-column>
    <clr-dg-column>Dati ril. ingresso</clr-dg-column>
    <clr-dg-column>Dati ril. uscita</clr-dg-column>
    <clr-dg-column>ProlungaPresenza</clr-dg-column>
    <clr-dg-column>Pedonale</clr-dg-column>
    <clr-dg-column>X</clr-dg-column>
    <clr-dg-column>Y</clr-dg-column>
    <clr-dg-row *clrDgItems="let antenna of antenne">
        <clr-dg-cell>
            <div class="btn-group btn-outline-primary btn-sm">
                <button type="button" class="btn btn-link   btn-icon" title="Modifica" (click)="modificaAntenna(antenna)">
                    <clr-icon shape="pencil"></clr-icon>
                </button>
            </div>
            {{antenna.Numero}}
        </clr-dg-cell>
        <clr-dg-cell>{{antenna.Nome}}</clr-dg-cell>
        <clr-dg-cell>
            <clr-checkbox [clrChecked]="antenna.Abilitata" [clrDisabled]="true"></clr-checkbox>
        </clr-dg-cell>
        <clr-dg-cell>{{antenna.TipoCodice}}</clr-dg-cell>
        <clr-dg-cell>{{antenna.Ip}}</clr-dg-cell>
        <clr-dg-cell>{{antenna.AreaCodice}}</clr-dg-cell>
        <clr-dg-cell>{{antenna.CodiceGate}}</clr-dg-cell>
        <clr-dg-cell>{{antenna.ConfigurazioneRilevatoreIngresso}}</clr-dg-cell>
        <clr-dg-cell>{{antenna.ConfigurazioneRilevatoreUscita}}</clr-dg-cell>
        <clr-dg-cell>{{antenna.ProlungaPresenza}}</clr-dg-cell>
        <clr-dg-cell>{{antenna.Pedonale}}</clr-dg-cell>
        <clr-dg-cell>{{antenna.X}}</clr-dg-cell>
        <clr-dg-cell>{{antenna.Y}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
<clr-modal [(clrModalOpen)]="dialogEdit">
    <div class="modal-body">
        <app-antenne-editor [antennaToEdit]="antennaInEdit" (onUpdate)="update($event)" *ngIf="antennaInEdit"></app-antenne-editor>
    </div>
</clr-modal>
