<div class="btn-group btn-primary btn-sm">
    <button class="btn" (click)="carica()">Ricarica</button>
    <button class="btn" (click)="nuovaRegola()">Nuovo</button>
    <button class="btn" (click)="applicaRegole()">Applica</button>
</div>
<div class="row">
    <div>
        <clr-datagrid [clrDgLoading]="loading">
            <clr-dg-column>Num</clr-dg-column>
            <clr-dg-column>...</clr-dg-column>
            <clr-dg-column>Tag 1</clr-dg-column>
            <clr-dg-column>Anagrafica</clr-dg-column>
            <clr-dg-column>Tag 2</clr-dg-column>
            <clr-dg-column>Periodo</clr-dg-column>
            <clr-dg-column>Area</clr-dg-column>
            <clr-dg-row *clrDgItems="let regola of regole">
                <clr-dg-cell>{{regola.Id}}</clr-dg-cell>
                <clr-dg-cell>
                    <div class="btn-group btn-outline-primary btn-sm">
                        <button type="button" class="btn btn-link   btn-icon" title="Modifica" (click)="modificaRegola(regola)">
                            <clr-icon shape="pencil"></clr-icon>
                        </button>
                        <button type="button" class="btn btn-link btn-icon" title="Cancella" (click)="cancellaRegola(regola)">
                            <clr-icon shape="trash"></clr-icon>
                        </button>
                    </div>
                </clr-dg-cell>
                <clr-dg-cell>{{regola.Tag1.Codice}}</clr-dg-cell>
                <clr-dg-cell>{{regola.AnagraficaTag1}}</clr-dg-cell>
                <clr-dg-cell>{{regola.Tag2.Codice}}</clr-dg-cell>
                <clr-dg-cell>{{regola.Periodo}}</clr-dg-cell>
                <clr-dg-cell>{{regola.Area}}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
    <!--<div *ngIf="dialogEdit">
        <app-permessi-editor></app-permessi-editor>
    </div>-->
</div>
<clr-modal [(clrModalOpen)]="dialogEdit">
    <div class="modal-header">
        <button aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Modifica regola {{regolaInEdit?.Id}}</h3>
    </div>
    <div class="modal-body">
        <app-permessi-editor [regolaToEdit]="regolaInEdit" (onUpdate)="update($event)" *ngIf="regolaInEdit"></app-permessi-editor>
    </div>
</clr-modal>
