<form #regolaForm="ngForm" class="compact" (ngSubmit)="salva()" >
    <section class="form-block">
        <div class="form-group">
            <label class="required" for="txtCodiceTag1">Tag1</label>
            <label for="txtCodiceTag1"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation invalid tooltip-sm"
                   [class.invalid]="txtCodiceTag1.invalid && (txtCodiceTag1.dirty || txtCodiceTag1.touched)">
                <input type="text" id="txtCodiceTag1" required placeholder="Tag1" size="45" [(ngModel)]="model.Tag1.Codice" name="txtCodiceTag1" #txtCodiceTag1="ngModel">
                <span class="tooltip-content">
                    Il Tag1 è richiesto.
                </span>
            </label>
        </div>
        <div class="form-group">
            <label for="txtCodiceTag2">Tag2</label>
            <input type="text" id="txtCodiceTag2" placeholder="Tag2" size="45" [(ngModel)]="model.Tag2.Codice" name="tag2">
        </div>
        <div class="form-group">
            <label for="txtPeriodo">Periodo</label>
            <input type="text" id="txtPeriodo" placeholder="Periodo" size="45" [(ngModel)]="model.Periodo" name="txtPeriodo">
        </div>
        <div class="form-group">
            <label for="areaRegola">Area</label>
            <div class="select">
                <label for="areaRegola"
                       aria-haspopup="true"
                       role="tooltip"
                       class="tooltip tooltip-validation tooltip-md"
                       [class.invalid]="areaRegola.invalid && (areaRegola.dirty || areaRegola.touched)">
                    <select id="areaRegola"
                            name="areaRegola"
                            [(ngModel)]="model.Area" #areaRegola="ngModel">
                        <option *ngFor="let area of aree;let i = index" [value]="area.Nome">{{area.Nome}}</option>
                    </select>
                </label>
            </div>
        </div>
    </section>
    <button class="btn" type="submit" [disabled]="!regolaForm.valid">Salva</button>
</form>
