<p-growl [(value)]="msgs"></p-growl>
<form #regolaForm="ngForm" class="compact" (ngSubmit)="salva()">
    <section class="form-block">
        <div class="form-group">
            <label class="required" for="txtCodice">Codice</label>
            <label for="txtCodice" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-sm" [class.invalid]="txtCodice.invalid && (txtCodice.dirty || txtCodice.touched)">
                <input type="text" id="txtCodice" required placeholder="codice" size="45" [(ngModel)]="model.Codice" name="txtCodice" #txtCodice="ngModel">
                <span class="tooltip-content">
                    Il Codice è richiesto.
                </span>
            </label>
        </div>
        <div class="form-group">
            <label for="txtDenominazione">Denominazione</label>
            <input type="text" id="txtDenominazione" placeholder="denominazione" size="45" [(ngModel)]="model.Denominazione" name="txtDenominazione">
        </div>
        <div class="form-group">
            <label for="txtTag" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-sm" [class.invalid]="txtTag.invalid && (txtTag.dirty || txtTag.touched)">Tag</label>
            <input type="text" id="txtTag" placeholder="tag" size="45" [(ngModel)]="model.Tag" name="txtTag" #txtTag="ngModel">
        </div>
        <div class="form-group">
            <label for="txtAnCollegata" aria-haspopup="true" role="tooltip" class="tooltip tooltip-sm">An. collegata</label>
            <p-autoComplete [(ngModel)]="model.CodiceCollegato" [suggestions]="anagraficheResult" (completeMethod)="ricercaAnagrafica($event)"
                name="txtAnCollegata" #txtAnCollegata [size]="45" placeholder="anagrafica collegata" [minLength]="1"></p-autoComplete>
        </div>
        <div class="form-group">
            <label for="txtAudit" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-sm" [class.invalid]="txtTag.invalid && (txtTag.dirty || txtTag.touched)">Audit</label>
            <clr-checkbox id="txtAudit" placeholder="Audit" size="45" [(ngModel)]="model.RilevaInAudit" name="txtAudit" #txtAudit="ngModel"></clr-checkbox>
        </div>
        <div class="form-group">
            <label for="txtPedonale" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-sm" [class.invalid]="txtTag.invalid && (txtTag.dirty || txtTag.touched)">Pedonale</label>
            <clr-checkbox id="txtPedonale" placeholder="Pedonale" size="45" [(ngModel)]="model.Pedonale" name="txtPedonale" #txtPedonale="ngModel"></clr-checkbox>
        </div>
        <div class="form-group">
            <label for="txtPermessi" aria-haspopup="true" role="tooltip" class="tooltip tooltip-sm">Permessi</label>
            <p-listbox [options]="aree" multiple="multiple" checkbox="checkbox" dataKey="Nome" [(ngModel)]="areeSelezionate" name="txtPermessi"
                #txtPermessi placeholder="permessi" [style]="{'width':'400px'}" optionLabel="Nome"></p-listbox>
        </div>
    </section>
    <button class=" btn " type="submit " [disabled]="!regolaForm.valid ">Salva</button>
</form>
