<!--<button class="btn btn-primary" (click)="ricarica()">Ricarica</button>-->
<div class="row">
    <div class="col-xs-11">
        <clr-checkbox name="termsCheckbox" id="checkrads_11" [(ngModel)]="visualizzaAreeprincipali">
            Visualizza solamente aree principali
        </clr-checkbox>
    </div>
    <div class="col-xs-1">
        <button type="button" class="btn btn-icon btn-primary" (click)="stampa()">
            <clr-icon shape="printer" class="is-solid"></clr-icon>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
            <clr-dg-column>Id</clr-dg-column>
            <clr-dg-column [clrDgField]="'Tag'">Tag</clr-dg-column>
            <clr-dg-column [clrDgField]="'Denominazione'">Anagrafica</clr-dg-column>
            <clr-dg-column [clrDgField]="'Evento'">Evento</clr-dg-column>
            <clr-dg-column [clrDgField]="'Area'">Area</clr-dg-column>
            <clr-dg-column [clrDgField]="'DataAzione'">Data</clr-dg-column>
            <clr-dg-column [clrDgField]="'Nota'">Nota</clr-dg-column>
            <clr-dg-column [clrDgField]="'Anomalia'">Anomalia</clr-dg-column>


            <clr-dg-row *ngFor="let audit of audits">
                <clr-dg-cell>{{audit.Id}}</clr-dg-cell>
                <clr-dg-cell>{{audit.Tag}}</clr-dg-cell>
                <clr-dg-cell>{{audit.Denominazione}}</clr-dg-cell>
                <clr-dg-cell>{{audit.Evento}}</clr-dg-cell>
                <clr-dg-cell>{{audit.Area}}</clr-dg-cell>
                <clr-dg-cell>{{audit.DataAzione | date : 'd/M/yy, H:mm:ss'}}</clr-dg-cell>
                <clr-dg-cell>{{audit.Nota}}</clr-dg-cell>
                <clr-dg-cell>{{audit.Anomalia}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} audit
                <clr-dg-pagination #pagination [clrDgPageSize]="50" [clrDgTotalItems]="totalRecord"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>
