<p-growl [(value)]="msgs"></p-growl>
<p>
    TID:{{tag.Tid}}
    <button type="button" class="btn btn-icon btn-sm" (click)="copiaTidInEpc()">
        <clr-icon shape="copy"></clr-icon>
    </button>
</p>
<p>
    <b>EPC:</b>{{tag.Epc}}
</p>
<p>
    {{tag.Message}}
</p>
<p>NUOVO EPC:
    <input type="text" pInputText [(ngModel)]="nuovoEpc" style="width:70%" />
    <button class="btn btn-sm btn-link " (click)="scriviEpc() ">Scrivi</button>
</p>

<button type="button " class="btn btn-link btn-icon " [disabled]="tag.Message " title="Associa Tag " (click)="associa() ">
    <clr-icon shape="tag"></clr-icon>
</button>
<button type="button " class="btn btn-link btn-icon " title="Reset lettore " (click)="reset() ">
    <clr-icon shape="refresh"></clr-icon>
</button>
