<div class="btn-group btn-primary btn-sm">
    <button class="btn" (click)="carica()">Ricarica</button>
    <button class="btn" (click)="nuovaAnagrafica()">Nuovo</button>
    <button class="btn" (click)="applicaAnagrafiche()">Applica</button>
</div>
<div class="row .col-xs-12 .col-sm-12 .col-lg-4">
    <div>
        <clr-datagrid [clrDgLoading]="loading">
            <clr-dg-column>...</clr-dg-column>
            <clr-dg-column [clrDgField]="'Codice'">Codice</clr-dg-column>
            <clr-dg-column [clrDgField]="'Denominazione'">Denominazione</clr-dg-column>
            <clr-dg-column [clrDgField]="'Tag'">Tag</clr-dg-column>
            <clr-dg-column [clrDgField]="'RilevaInAudit'">Audit</clr-dg-column>
            <clr-dg-column [clrDgField]="'Pedonale'">Pedonale</clr-dg-column>
            <clr-dg-column [clrDgField]="'CodiceCollegato'">Anag. collegata</clr-dg-column>
            <clr-dg-row *clrDgItems="let anagrafica of anagrafiche">
                <clr-dg-cell>
                    <div class="btn-group btn-outline-primary btn-sm">
                        <button type="button" class="btn btn-link   btn-icon" title="Modifica" (click)="showTagWriter(anagrafica)">
                            <clr-icon shape="tag"></clr-icon>
                        </button>
                        <button type="button" class="btn btn-link   btn-icon" title="Modifica" (click)="modificaAnagrafica(anagrafica)">
                            <clr-icon shape="pencil"></clr-icon>
                        </button>
                        <button type="button" class="btn btn-link btn-icon" title="Cancella" (click)="cancellaAnagrafica(anagrafica)">
                            <clr-icon shape="trash"></clr-icon>
                        </button>
                    </div>
                </clr-dg-cell>
                <clr-dg-cell>{{anagrafica.Codice}}</clr-dg-cell>
                <clr-dg-cell>{{anagrafica.Denominazione}}</clr-dg-cell>
                <clr-dg-cell>{{anagrafica.Tag}}</clr-dg-cell>
                <clr-dg-cell>{{anagrafica.RilevaInAudit}}</clr-dg-cell>
                <clr-dg-cell>{{anagrafica.Pedonale}}</clr-dg-cell>
                <clr-dg-cell>{{anagrafica.CodiceCollegato}}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>
<p-dialog [(visible)]="dialogEdit" modal='true'>
    <div class="modal-body">
        <app-anagrafica-editor [AnagraficaToEdit]="anagraficaInEdit" (onUpdate)="update($event)" *ngIf="anagraficaInEdit"></app-anagrafica-editor>
    </div>
</p-dialog>
<p-dialog header="Associa Tag ad anagrafica" [(visible)]="displayTagWriter" modal='true' width="600">
    <app-tagwriter [startReader]="displayTagWriter" [anagraficaToEdit]="anagraficaInEdit" (onUpdated)="tagAssociato($event)"></app-tagwriter>
</p-dialog>
