<div class="card">
    <dx-data-grid id="gridContainer" [dataSource]="store" [remoteOperations]="false" [allowColumnReordering]="true"
        [rowAlternationEnabled]="true" [showBorders]="false" [showRowLines]="true" [columnAutoWidth]="true"
        [columnHidingEnabled]="true" (onContentReady)="onContentReady($event)">>
        <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true" [useIcons]="true">
            <dxo-popup title="Info anagrafica" [showTitle]="true" [width]="700" [height]="345" [position]="{ my: 'center', at: 'middle', of: window }">
            </dxo-popup>
        </dxo-editing>

        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxi-column dataField="id" caption="Id" alignment="left" [width]="100">
        </dxi-column>
        <dxi-column dataField="codice" caption="Codice" alignment="left">
            <dxo-form-item [isRequired]="true"></dxo-form-item>
        </dxi-column>
        <dxi-column dataField="denominazione" caption="Denominazione" alignment="left">
        </dxi-column>
        <dxi-column dataField="tag" caption="Tag" alignment="left"></dxi-column>
        <dxi-column dataField="rilevaInAudit" caption="Audit" alignment="center" allowFiltering="true"></dxi-column>
        <dxi-column dataField="pedonale" caption="Pedonale" alignment="center"></dxi-column>
        <dxi-column dataField="codiceCollegato" caption="Anagrafica coll." alignment="left">
            <dxo-form-item [colSpan]="2">
            </dxo-form-item>
        </dxi-column>
        <dxi-column dataField="regole" caption="Permessi" alignment="left" [allowHiding]="true">
            <dxo-form-item [editorType]="dx-list"></dxo-form-item>
        </dxi-column>
    </dx-data-grid>
</div>
