<form #areaForm="ngForm" (ngSubmit)="salva()">
    <section class="form-block">
        <div class="form-group">
            <label for="Codice">Codice</label>
            <label for="Codice" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="CodiceInput.invalid && (CodiceInput.dirty || CodiceInput.touched)">
                <input type="text" id="Codice" placeholder="Codice" required name="Codice" [(ngModel)]="model.Codice" #CodiceInput="ngModel">
            </label>
        </div>
        <div class="form-group">
            <label for="Nome">Nome</label>
            <label for="Nome" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="NomeInput.invalid && (NomeInput.dirty || NomeInput.touched)">
                <input type="text" id="Nome" placeholder="Nome" required name="Nome" [(ngModel)]="model.Nome" #NomeInput="ngModel">
            </label>
        </div>
        <div class="form-group">
            <label for="Ip">Ip</label>
            <label for="Ip" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="NomeInput.invalid && (IpInput.dirty || IpInput.touched)">
                <input type="text" id="Ip" placeholder="Indirizzo ip" required name="Ip" [(ngModel)]="model.Ip" #IpInput="ngModel">
            </label>
        </div>
        <div class="form-group">
            <label for="Porta">Porta</label>
            <label for="Porta" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="NomeInput.invalid && (PortaInput.dirty || PortaInput.touched)">
                <input type="text" id="Porta" placeholder="numero porta" required name="Porta" [(ngModel)]="model.Porta" #PortaInput="ngModel">
            </label>
        </div>
        <div class="form-group">
            <label for="X">X</label>
            <input type="text" id="X" placeholder="coordinata X per mappa" name="X" [(ngModel)]="model.X" #XInput="ngModel">
        </div>
        <div class="form-group">
            <label for="Y">Y</label>
            <label for="Y" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="NomeInput.invalid && (YInput.dirty || YInput.touched)">
                <input type="text" id="Y" placeholder="coordinata Y per mappa" name="Y" [(ngModel)]="model.Y" #YInput="ngModel">
            </label>
        </div>
    </section>
    <button class="btn" type="submit" [disabled]="!areaForm.valid">Salva</button>
</form>
