<h4>VARCHI</h4>
<div class="btn-group btn-primary btn-sm">
    <button class="btn" (click)="caricaGates()">Ricarica</button>
    <button class="btn" (click)="nuovoGate()">Nuovo</button>
</div>
<clr-datagrid class="datagrid-compact">
    <clr-dg-column>...</clr-dg-column>
    <clr-dg-column>Codice</clr-dg-column>
    <clr-dg-column>Nome</clr-dg-column>
    <clr-dg-column>Ip</clr-dg-column>
    <clr-dg-column>Porta</clr-dg-column>
    <clr-dg-column>X</clr-dg-column>
    <clr-dg-column>Y</clr-dg-column>
    <clr-dg-row *clrDgItems="let gate of gates">
        <clr-dg-cell>
            <div class="btn-group btn-outline-primary btn-sm">
                <button type="button" class="btn btn-link   btn-icon" title="Modifica" (click)="modificaGate(gate)">
                    <clr-icon shape="pencil"></clr-icon>
                </button>
                <button type="button" class="btn btn-link btn-icon" title="Cancella" (click)="cancellaGate(gate)">
                    <clr-icon shape="trash"></clr-icon>
                </button>
            </div>
            {{gate.Id}}
        </clr-dg-cell>
        <clr-dg-cell>{{gate.Codice}}</clr-dg-cell>
        <clr-dg-cell>{{gate.Nome}}</clr-dg-cell>
        <clr-dg-cell>{{gate.Ip}}</clr-dg-cell>
        <clr-dg-cell>{{gate.Porta}}</clr-dg-cell>
        <clr-dg-cell>{{gate.X}}</clr-dg-cell>
        <clr-dg-cell>{{gate.Y}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
<clr-modal [(clrModalOpen)]="dialogEdit">
    <div class="modal-body">
        <app-gates-editor [gateToEdit]="gateInEdit" (onUpdate)="update($event)" *ngIf="gateInEdit"></app-gates-editor>
    </div>
</clr-modal>
