<h4>AREE</h4>
<div class="btn-group btn-primary btn-sm">
    <button class="btn" (click)="caricaAree()">Ricarica</button>
    <button class="btn" (click)="nuovaArea()">Nuovo</button>
</div>
<clr-datagrid class="datagrid-compact">
    <clr-dg-column [clrDgField]="'Id'">Codice</clr-dg-column>
    <clr-dg-column [clrDgField]="'Nome'">Nome</clr-dg-column>
    <clr-dg-column [clrDgField]="'NomeAreaPrincipale'">Area Principale</clr-dg-column>
    <clr-dg-row *clrDgItems="let area of aree">
        <clr-dg-cell>
            <div class="btn-group btn-outline-primary btn-sm">
                <button type="button" class="btn btn-link   btn-icon" title="Modifica" (click)="modificaArea(area)">
                    <clr-icon shape="pencil"></clr-icon>
                </button>
                <button type="button" class="btn btn-link btn-icon" title="Cancella" (click)="cancellaArea(area)">
                    <clr-icon shape="trash"></clr-icon>
                </button>
            </div>
            {{area.Id}}
        </clr-dg-cell>
        <clr-dg-cell>{{area.Nome}}</clr-dg-cell>
        <clr-dg-cell>{{area.NomeAreaPrincipale}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
<clr-modal [(clrModalOpen)]="dialogEdit">
    <div class="modal-body">
        <app-area-editor [areaToEdit]="areaInEdit" (onUpdate)="update($event)" *ngIf="areaInEdit"></app-area-editor>
    </div>
</clr-modal>
