<div>
    <span *ngFor="let stato of statoAntenne">
        <span [ngClass]="{'label': true,'label-success':stato.Stato===0,'label-danger':stato.Stato===1 ,'label-warning': stato.Stato===2}"><clr-icon shape="wifi"></clr-icon> {{stato?.Nome}}</span>
    </span>
</div>
<div>
        <span *ngFor="let stato of statoGates">
            <a (click)="apriGate(stato.Codice)" [ngClass]="{'iconbutton':true,'clickable':stato.Stato===0,'label': true,'label-success':stato.Stato===0,'label-danger':stato.Stato===1}"><clr-icon shape="nvme"></clr-icon> {{stato?.Nome}}</a>
        </span>
</div>
