<div class="container">
    <img src="/images/planimetria.png" >
    <div *ngFor="let stato of statoAntenne">
        <div  [ngStyle]="getStyle(stato)" [ngClass]="{'label': true,'label-success':stato.Stato===0,'label-danger':stato.Stato===1 ,'label-warning': stato.Stato===2}"><clr-icon shape="wifi"></clr-icon>{{stato?.Nome}}</div>
    </div>
    <div *ngFor="let stato of statoGates"  [ngStyle]="getStyle(stato)">
        <a (click)="apriGate(stato.Codice)"  [ngClass]="{'iconbutton':true,'clickable':stato.Stato===0,'label': true,'label-success':stato.Stato===0,'label-danger':stato.Stato===1}"><clr-icon shape="nvme"></clr-icon> {{stato?.Nome}}</a>
    </div>
</div>
