<form #areaForm="ngForm" (ngSubmit)="salva()">
    <section class="form-block">
        <div class="form-group">
            <label for="Nome">Nome</label>
            <label for="Nome" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="NomeInput.invalid && (NomeInput.dirty || NomeInput.touched)">
                <input type="text" id="Nome" placeholder="Nome area" required name="Nome" [(ngModel)]="model.Nome" #NomeInput="ngModel">
            </label>
        </div>
        <div class="form-group">
            <label for="areaPrincipale">Area principale</label>
            <div class="select">
                <select id="areaPrincipale" name="areaPrincipale" [(ngModel)]="model.NomeAreaPrincipale" #areaPrincipale="ngModel">
                    <option *ngFor="let area of areePrincipali;let i = index" [value]="area.Nome">{{area.Nome}}</option>
                </select>
            </div>
        </div>
    </section>
    <button class="btn" type="submit" [disabled]="!areaForm.valid">Salva</button>
</form>
